*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-small: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 2.25rem;
  --font-size-extralarge: 4rem;
  --color-1: #5db082;
  --color-2: #f6f7fb;
  --color-3: #364153;
  --color-4: #c9d0da;
  --color-5: #6281f7;
  --color-6: #161739;
  --color-7: #295e48;
  --color-8: #6d4ae5;
  --color-9: #263fa9;
  --color-10: #3c4c98;
  --color-11: #dee9fc;
  --color-12: #f5c044;
  --spacing-horizontal: 1.5rem;
  --spacing-vertical: 1rem;
  --hero-spacing: 2rem;
  --hero-img-width: 41rem;
  --feature-img-width: 28.5625rem;
  --background-image-height: 740px;
}

html {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

/* HERO LAYOUT*/
.hero {
  max-height: 100vh;
  overflow: hidden;
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-vertical) 5%;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-horizontal);
}
.hero__content {
  margin-left: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content__text {
  display: flex;
  flex-direction: column;
  gap: var(--hero-spacing);
}
.hero__content__buttons {
  margin-top: var(--hero-spacing);
  display: flex;
  align-items: center;
  gap: var(--hero-spacing);
}
.hero__picture {
  max-width: var(--hero-img-width);
  flex-shrink: 0.66;
}
.hero__img {
  width: min(100%, var(--hero-img-width));
  height: auto;
}

/* PROCESS SECTION LAYOUT */
.process {
  min-height: var(--background-image-height);
  overflow: hidden;
  background-color: var(--color-6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
}
.process__header {
  margin-bottom: 5rem;
}
.process__title {
  width: min(100%, 11em);
  margin: 0 auto 1rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b c d";

  position: relative;
}
.card-1 {
  grid-area: a;
}
.card-2 {
  grid-area: b;
}
.card-3 {
  grid-area: c;
}
.card-4 {
  grid-area: d;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.card__title {
  width: min(100%, 10em);
}
.card__description {
  width: 17em;
}

/* FEATURES SECTION LAYOUT */
.features {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 10%;
}
.feature {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.feature__picture {
  max-width: var(--feature-img-width);
}
.feature__img {
  width: 100%;
  height: auto;
}
.feature__text {
  width: min(100%, 55rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature__list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature__list__item::before {
  content: "✅";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
}

/* FOOTER LAYOUT */
footer {
  width: 100%;
  min-height: 350px;
  padding: 5%;
  background-color: var(--color-6);
}
.footer__text {
  display: flex;
  margin: 0 auto 2rem;
  gap: 5vw;
  width: min(100%, 1280px);
}
.footer__title {
  width: min(100%, 32rem);
}
.navigation__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 3rem);
  grid-auto-flow: column;
  align-items: center;
  gap: 0 5rem;
}

/* MODULES */
picture,
img {
  display: block;
}
a {
  text-decoration: none;
}
.reverse {
  flex-direction: row-reverse;
}
/* Button design */
.button-1 {
  background-color: var(--color-7);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}
/* Emoji design */
.emoji {
  font-size: var(--font-size-large);
  width: 3em;
  height: 3em;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__emoji {
  font-size: var(--font-size-medium);
  border-radius: 100%;
  width: 2em;
  height: 2em;
}
.emoji-palette {
  background-color: var(--color-5);
}
.emoji-target {
  background-color: var(--color-12);
}
.emoji-flower {
  background-color: var(--color-1);
}
.emoji-cog {
  background-color: var(--color-8);
}

/* TYPOGRAPHY */
.hero__title,
.hero__description,
.button-2,
.feature__title,
.feature__description,
.feature__list {
  color: var(--color-3);
}
.hero__title {
  font-size: var(--font-size-extralarge);
}
.process__title,
.feature__title,
.footer__title {
  font-size: var(--font-size-large);
}
.description {
  font-size: var(--font-size-medium);
}
.button,
.card__description,
.feature__description,
.footer__navigation__item {
  font-size: var(--font-size-regular);
}
.button-1,
.process__title,
.card__title,
footer {
  color: var(--color-2);
}
.process__description,
.card__description {
  color: var(--color-4);
  font-weight: 200;
}
.process__title,
.card__title,
.button-2 {
  font-weight: 500;
}
.process {
  text-align: center;
}

@media (min-width: 1280px) {
  .hero__content {
    margin-left: 5%;
  
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .hero__content__text {
    margin-top: min(25vw, 250px)
  }
  
  html {
    font-size: clamp(16px, 1.25vw, 20px)
  }
}

@media (min-width: 1101px) {
  .process {
    background-image: image-set(
      url("resources/background/section_bg_1.avif") type("image/avif"),
      url("resources/background/section_bg_1.webp") type("image/webp"),
      url("resources/background/section_bg_1.png") type("image/png")
    );
  }
}

@media (max-width: 1100px) {
  .process {
    padding: 5rem 2%;
    background-image: image-set(
      url("resources/background/section_bg_2.avif") type("image/avif"),
      url("resources/background/section_bg_2.webp") type("image/webp"),
      url("resources/background/section_bg_2.png") type("image/png")
    );
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "a b"
      "c d";
    gap: 2rem;
  }
  .card__description {
    width: min(100%, 27em);
  }
}

@media (max-width: 850px) {
  :root {
    --font-size-extralarge: 3rem; 
  }
  .hero__picture {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -10px;
  }
  .hero__content {
    margin-left: 0;
  }
  .hero__content__text {
    padding: 3rem 3%;
  }
  .feature {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: clamp(13px, 4vw, 16px);
  }
  .cards {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    gap: 2rem;
  }
  .card__description {
    width: 95%;
  }

  .footer__text {
    flex-direction: column;
    gap: 2rem;
  }
  .navigation__list {
    gap: 0 1rem
  }
}

@media (max-width: 320px) {
:root {
  --font-size-large: 2rem;
}
.hero-header {
  flex-direction: column;
  gap: 1rem;
}
  .hero__content__buttons {
  flex-direction: column;
}

}