*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-small: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 2.25rem;
  --font-size-extralarge: 4rem;
  --color-1: #295e48;
  --color-2: #f6f7fb;
  --color-3: #364153;
  --color-4: #c9d0da;
  --color-5: #6281f7;
  --color-6: #161739;
  --color-7: #161739;
  --color-8: #6d4ae5;
  --color-9: #263fa9;
  --color-10: #3c4c98;
  --color-11: #dee9fc;
  --color-12: #f5c044;
  --spacing-horizontal: 1.5rem;
  --spacing-vertical: 1rem;
  --hero-spacing: 2rem;
  --hero-img-width: 41rem;
}

html {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

/* HERO LAYOUT*/
.hero {
  max-height: 100vh;
  overflow: hidden;
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-vertical) 5%;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-horizontal);
}
.hero__content {
  margin-left: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content__text {
  display: flex;
  flex-direction: column;
  gap: var(--hero-spacing);
}
.hero__content__buttons {
  margin-top: var(--hero-spacing);
  display: flex;
  align-items: center;
  gap: var(--hero-spacing);
}
.hero__picture {
  max-width: var(--hero-img-width);
}
.hero__img {
  width: min(100%, var(--hero-img-width));
  height: auto;
}

/* MODULES */
picture,
img {
  display: block;
}
a {
  text-decoration: none;
}
/* Button design */
.button-1 {
  background-color: var(--color-1);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

/* TYPOGRAPHY */
.hero__title {
  color: var(--color-3);
  font-size: var(--font-size-extralarge);
}
.hero__description {
  color: var(--color-3);
  font-size: var(--font-size-medium);
}
.button {
  font-size: var(--font-size-regular);
}
.button-1 {
  color: var(--color-2);
}
.button-2 {
  color: var(--color-3);
  font-weight: 600;
}
